<ngb-alert class="text-center" [type]="alertType" *ngIf="submitted && alertMessage" (close)="submitted = false">{{
  alertMessage
}}</ngb-alert>
<div class="wrapper">
  <div id="formContent">
    <!-- Login Form -->
    <form style="padding-top: 20px" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm)">
      <input
        formControlName="email"
        type="text"
        id="email"
        class="form-control"
        name="email"
        placeholder="Email"
        required
      />
      <input [disabled]="!passwordResetForm.valid" type="submit" class="btn btn-success" value="Send" />
    </form>
    <div id="formFooter">
      <div>
        <a class="underlineHover" href="#/login">Back</a>
      </div>
    </div>
  </div>
</div>
