<footer class="navbar-light bg-light fixed-bottom">
    <div class="container">
      <span>
          <a href="https://www.facebook.com/saenzagphotos/" class="fa fa-facebook nav-link" target="_blank"></a>
          <a href="https://twitter.com/saenzagphotos" class="fa fa-twitter nav-link" target="_blank"></a>
          <a href="https://www.instagram.com/saenzagphotos/" class="fa fa-instagram nav-link" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCNiuhaCrRY_4MgU46-o-0vQ" class="fa fa-youtube nav-link" target="_blank"></a>
      </span>
    </div>
</footer>