<div class="row">
  <div class="col-md-6" style="height: 500px">
    <h1 class="text-center" >Alejandro Saenz</h1>
    <img id="alejandro" src="../../assets/about/about_alejandro.jpeg">
    <h2>Biography</h2>
    <p>Alejandro is a freelance Photographer and an Application Security Consultant based in Reston, Virginia. He received his Bachelor of Science in Computer Science from VCU in 2013 and he has been working in the IT field ever since.  When he is not coding or hacking away, Alejandro enjoys adventuring through life with his camera by his side. </p>
    <h2>Awards</h2>
    <ul>
      <li>2017 Claude Moore Park Photography Expo Winner - 1st Place Advanced Landscape</li>
      <li>2016 Herndon Town Calendar Competition People's Choice Award Winner</li>
      <li>2016 Herndon Town Calendar Competition Month of June Award Winner</li>
      <li>2016 Paul Glascock Memorial People's Choice Award Winner</li>
      <li>2016 Claude Moore Park Photography Expo Finalist - 3rd Place Advanced Landscape</li>
    </ul>
    <h2>Recognitions</h2>
    <ul>
      <li>2016 National Geographic Nature Photographer of the Year Contest Editor's Favorite</li>
    </ul>
  </div>
  <div class="col-md-6" style="height: 500px">
    <h1 class="text-center">Darian Saenz</h1>
    <img id="darian" src="../../assets/about/about_darian.jpg">
    <h2>Biography</h2>
    <p>Darian is a freelance photographer and professional dancer and teacher in the Northern Virginia area.  She studied and lived in the Big Apple, where she first picked up the camera as a hobby.  Since then, she has captured many beautiful moments for her family and those around her. </p>
  </div>
</div>