#alejandro {
  height: 350px;
  width: 500px;
  object-fit: cover;
  padding: 15px;
  color: gray;
}

#darian {
  height: 350px;
  width: 500px;
  object-fit: cover;
  padding: 15px;
  color: gray;
}
