<h1 class="col-md-12 text-center">Professional Services</h1>

<div class="row">
  <img id="proserv-card" class="image-responsive col-md-5" src="../../assets/proserv/festival_street.png">
  <div class="col-md-7">
      <h2>Corporate Event Photography</h2>
      <p>Our corporate event photos are structured in a way that is guaranteed to capture your event's best moments.  We understand the value of these photographs, in that they will be used to continue to market your company, organization, or gatherings.  Whether at a conference, happy-hour, or trip to an amusement park, we are there to make your event unforgettable.</p>
      <button class="btn btn-dark">REQUEST A QUOTE</button>
  </div>
</div>
<div class="row">
    <img id="proserv-card" class="image-responsive col-md-5" src="../../assets/proserv/olivia_engagement.png">
    <div class="col-md-7">
        <h2>Couple & Engagement</h2>
        <p>Whether you just said "yes!" when the big question was asked or you have been married for decades, we are there to showcase your love story with our couple and engagement photos.</p>
        <button class="btn btn-dark">COUPLE & ENGAGEMENT PRICING</button>
    </div>
</div>
<div class="row">
    <img id="proserv-card" class="image-responsive col-md-5" src="../../assets/proserv/glovers.png">
    <div class="col-md-7">
        <h2>Corporate Event Photography</h2>
        <p>Our corporate event photos are structured in a way that is guaranteed to capture your event's best moments.  We understand the value of these photographs, in that they will be used to continue to market your company, organization, or gatherings.  Whether at a conference, happy-hour, or trip to an amusement park, we are there to make your event unforgettable.</p>
        <button class="btn btn-dark">FAMILY PORTRAIT PRICING</button>
    </div>
</div>