<h1 class="text-center">Professional Services</h1>

<div class="row container mx-auto">
    <img id="proserv-card" class="img-fluid col-md-5" src="../../assets/proserv/festival_street.png">
    <div class="col-md-7">
        <h2>Corporate Event Photography</h2>
        <p>Our corporate event photos are structured in a way that is guaranteed to capture your event's best moments.
            We
            understand the value of these photographs, in that they will be used to continue to market your company,
            organization,
            or gatherings. Whether at a conference, happy-hour, or trip to an amusement park, we are there to make your
            event
            unforgettable.
        </p>
        <a [routerLink]="['corp-event-inquiry']">
            <button class="btn btn-dark">REQUEST A QUOTE</button>
        </a>
    </div>
</div>
<div class="row container mx-auto">
    <img id="proserv-card" class="img-fluid col-md-5" src="../../assets/proserv/performance_photography.jpg">
    <div class="col-md-7">
        <h2>Performance and Concert Photography</h2>
        <p>Our performance and concert photography will provide action coverage to your show. Whether it be a ballet
            recital
            or jazz performance, we catch photos with the upmost clarity and detail.
        </p>
        <a [routerLink]="['corp-event-inquiry']">
            <button class="btn btn-dark">REQUEST A QUOTE</button>
        </a>
    </div>
</div>
<div class="row container mx-auto">
    <img id="proserv-card" class="img-fluid col-md-5" src="../../assets/proserv/olivia_engagement.png">
    <div class="col-md-7">
        <h2>Couple & Engagement</h2>
        <p>Whether you just said "yes!" when the big question was asked or you have been married for decades, we are
            there
            to showcase your love story with our couple and engagement photos.</p>
        <a [routerLink]="['couple-engagement']">
            <button class="btn btn-dark">COUPLE & ENGAGEMENT</button>
        </a>
    </div>
</div>
<div class="row container mx-auto">
    <img id="proserv-card" class="img-fluid col-md-5" src="../../assets/proserv/glovers.png">
    <div class="col-md-7">
        <h2>Family Portraits</h2>
        <p>We know time moves quickly, especially when it comes to little ones and those closest to us. In capturing
            these
            moments of family together, our family portrait sessions begin with the hope that we can help you savor and
            treasure
            these precious years. </p>
        <a [routerLink]="['family-portrait']">
            <button class="btn btn-dark">FAMILY PORTRAITS</button>
        </a>
    </div>
</div>