h1 {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 20px;
    color: gray;
}

.alert-danger {
    margin: 0px;
}

.alert {
    padding: 0;
    padding-left: 10px;
}