<br/>
<div class="container col-md-6">
    <ngb-alert class="text-center" [type]="alertType" *ngIf="submitted" (close)="submitted=false">{{alertMessage}}</ngb-alert>
    <h1 class="text-center">Please fill out the form with any questions or inquiries you have. </h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="row">
            <div class="col">
                <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                <div *ngIf="contactForm.controls['firstName'].errors && !contactForm.controls['firstName'].pristine" class="alert alert-danger">First Name is required</div>
            </div>
            <div class="col">
                <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                <div *ngIf="contactForm.controls['lastName'].errors && !contactForm.controls['lastName'].pristine" class="alert alert-danger">Last Name is required</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
            <div *ngIf="contactForm.controls['email'].errors?.email && !contactForm.controls['email'].pristine" class="alert alert-danger">Email not valid</div>
        </div>
        <div class="form-group">
            <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="Subject">
            <div *ngIf="contactForm.controls['subject'].errors && !contactForm.controls['subject'].pristine" class="alert alert-danger">Subject is required</div>
        </div>
        <div class="form-group">
            <textarea formControlName="message" type="text" class="form-control" id="message" placeholder="Message"></textarea>
            <div *ngIf="contactForm.controls['message'].errors && !contactForm.controls['message'].pristine" class="alert alert-danger">Message is required</div>
        </div>
        <div class="form-group">
            <re-captcha formControlName="captcha" siteKey="6LekdGUUAAAAAJLEDxY-YgntAaMnaWMdHt34aAK3" style="border-left: 0px"></re-captcha>
        </div>
        <button [disabled]="!contactForm.valid" type="submit" class="btn btn-success">Submit</button>
    </form>
</div>