<app-navigation></app-navigation>

<div>
  <div class="container col-md-12">
    <div class="alert alert-info col-md-8 offset-md-2 text-center" role="alert">
      Saenz A.G. Photography LLC will be closing its doors indefinitely on
      05/30/2020. We want to thank our customers for past business and support.
      We are very grateful in having you as a customer. This website will remain
      online as an open-source proof-of-concept. The source code is located
      <a href="https://github.com/Whamo12/saenzag-photos-www" target="_blank"
        >here</a
      >.
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
