<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img id="navbarIcon" src="../../assets/SaenzAGLogoBlack.png" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Galleries 
        </a>
        <div class="dropdown-menu" style="font-size: 12px" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#/landscape">Landscape</a>
            <a class="dropdown-item" href="#/film">Film</a>
            <a class="dropdown-item" href="#/maternity">Maternity</a>
            <a class="dropdown-item" href="#/night_colors">Night Colors</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/videography">Videography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Professional Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop Prints</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#/about">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>