/* You can add global styles to this file, and also import other style files */
  .ng-valid[required], .ng-valid:not(form)  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  body {
    background-color: #f8f9fa;
  }

  h1 {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 20px;
    color: gray;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    color: lightgray;
}

p, ul, li {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: none;
  letter-spacing: .04em;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: gray;
}

.alert-danger {
  margin: 0px;
}

.alert {
  padding: 0;
  padding-left: 10px;
}